<div class="container">

    <!-- Título de la página -->
    <h3>Mis códigos QR</h3>

    <hr>

    <div class="row">
        <!-- Container: Lista de códigos -->
        <div class="col-md-5 mb-4">
            <ul class="list-group">
                <li *ngFor="let codigoQR of codigosQR"
                class="list-group-item list-group-item-action"
                style="cursor: pointer;"
                (click)="onCodigoQRSeleccionado(codigoQR)">
                    <a>
                        <span class="badge bg-primary me-2">{{ codigoQR.id }}</span>
                        {{ codigoQR.nombre }}                        
                    </a>
                </li>                
            </ul>
        </div>
        <!-- Container: Detalles de código seleccionado -->
        <div class="col-md-7">
            <!-- Si hay un código seleccionado -->
            <app-detalles-codigo
            *ngIf="selectedCodigoQR; else noSelectedCodigoQRBlock" 
            [nombre]="selectedCodigoQR.nombre"
            [valor]="selectedCodigoQR.valor"
            [tamanio]="selectedCodigoQR.tamanio"
            [valor]="selectedCodigoQR.valor"
            [selectedCodigoQR]="selectedCodigoQR"
            (onDeleteCodigoQR)="onDeleteCodigoQR()"></app-detalles-codigo>
            <!-- Si no hay código seleccionado -->
            <ng-template #noSelectedCodigoQRBlock>Por favor, selecciona un código para ver sus detalles</ng-template>
        </div>
    </div>
</div>
